@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";

@import "@fontsource/montserrat/400.css";
@import "@fontsource/montserrat/600.css";
@import "@fontsource/montserrat/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Poppins, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    scroll-behavior: smooth;

    color-scheme: light dark;
    color: #f8f9fa;
    background-color: #212529;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
